{{ template "header" . }}
<br />
<p>
    Outs Above Average Monitor is a website which displays the daily
    <a href="https://www.mlb.com/glossary/statcast/outs-above-average"
        >Outs Above Average</a
    >
    total for MLB players. This data is
    <a href="https://baseballsavant.mlb.com/leaderboard/outs_above_average"
        >viewable on Baseball Savant for each player</a
    >, but this website makes it easier to view the daily changes for each
    player. The data is entirely from Baseball Savant. I don't think viewing
    defensive metrics on a daily basis is actually useful, but it's fun.
</p>

<div class="download-section">
    <a href="/downloads/oaamonitor.db" class="btn download-btn"
        >Download Database ({{ .DatabaseSize }})</a
    >
    <p class="download-info">
        Download the SQLite database to access the raw data to do your own
        analysis.
    </p>
</div>

<h2>Daily trends</h2>
<table id="playerDifferences">
    <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Position</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        {{ range .PlayerDifferences }}
        <tr>
            <td><a href="/player/{{ .PlayerID }}">{{ .Name }}</a></td>
            <td>{{ .Team }}</td>
            <td>{{ .Position }}</td>
            <td>{{ .Difference }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<h2>Weekly trends</h2>
<table id="weeklyTrends">
    <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Position</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        {{ range .SevenDayTrends }}
        <tr>
            <td><a href="/player/{{ .PlayerID }}">{{ .Name }}</a></td>
            <td>{{ .Team }}</td>
            <td>{{ .Position }}</td>
            <td>{{ .Difference }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<h2>Monthly trends</h2>
<table id="monthlyTrends">
    <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Position</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
        {{ range .ThirtyDayTrends }}
        <tr>
            <td><a href="/player/{{ .PlayerID }}">{{ .Name }}</a></td>
            <td>{{ .Team }}</td>
            <td>{{ .Position }}</td>
            <td>{{ .Difference }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ template "footer" . }}
