{{ template "header" . }}

<canvas id="playerChart"></canvas>
<button id="downloadChart">Download Chart as PNG</button>
<script>
    const plugin = {
        id: 'customCanvasBackgroundColor',
        beforeDraw: (chart, args, options) => {
            const { ctx } = chart;
            ctx.save();
            ctx.globalCompositeOperation = 'destination-over';
            ctx.fillStyle = options.color || '#99ffff';
            ctx.fillRect(0, 0, chart.width, chart.height);
            ctx.restore();
        }
    };
    const stats = {{ .PlayerStats }};
    const ctx = document.getElementById('playerChart').getContext('2d');

    // Detect dark mode preference
    const isDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

    const labels = stats.map(stat => stat.date);
    const data = stats.map(stat => stat.oaa);

    if (isDarkMode) {
        Chart.defaults.color = '#ffffff';
    }
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'OAA',
                data: data,
                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: false,
                pointRadius: 5,
                pointHoverRadius: 7,
            }]
        },
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        tooltipFormat: 'MMM d, yyyy'
                    },
                    grid: {
                        color: isDarkMode ? '#323232' : '#E5E5E5',
                    }
                },
                y: {
                    ticks: {
                        stepSize: 1,
                    },
                    grid: {
                        color: isDarkMode ? '#323232' : '#E5E5E5',
                    }
                }
            },
            plugins: {
                customCanvasBackgroundColor: {
                    color: isDarkMode ? '#181818' : 'white',
                },
                title: {
                    display: true,
                    text: '{{ .PlayerName }} OAA Over Time',
                    font: {
                        size: 20
                    }
                }
            }
        },
        plugins: [plugin]
    });
    // Function to download the chart as a PNG
    document.getElementById('downloadChart').addEventListener('click', function () {
        const link = document.createElement('a');
        link.href = chart.toBase64Image();
        link.download = '{{ .PlayerName }}_OAA_Chart.png';
        link.click();
    });
</script>
{{ template "footer" . }}