{{ template "header" . }}

<canvas id="teamChart" style="padding: 10px"></canvas>

<div class="button-container">
    <button id="downloadChart" class="btn">Download Chart as PNG</button>
    <a
        id="savantLink"
        class="btn"
        href="https://baseballsavant.mlb.com/leaderboard/outs_above_average?type=Fielder&startYear={{ .CurrentYear }}&endYear={{ .CurrentYear }}&split=yes&team={{ .TeamAbbreviation }}&range=year&min=10&pos=&roles=&viz=hide"
        target="_blank"
        >View on Baseball Savant</a
    >
</div>

<div id="playersList" style="border-collapse: collapse">
    <h2>{{ .TeamName }} OAA</h2>
    <table id="teamPlayersTable">
        <thead>
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>OAA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range $player, $stats := .SparklinesData }}
            <tr>
                <td><a href="/player/{{ $player }}">{{ $stats.Name }}</a></td>
                <td>{{ $stats.Position }}</td>
                <td>{{ $stats.LatestOAA }}</td>
                <td>
                    <canvas
                        width="100"
                        height="30"
                        id="playerChart{{ $player }}"
                    ></canvas>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>

<script>
    var teamStats = {{ .TeamStats }};
    var teamName = "{{ .TeamName }}";
    var sparklinesData = {{ .SparklinesData }};
</script>

<script src="/static/teamChart.js" defer></script>

{{ template "footer" . }}
